<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>prize_today_playnew.png</key>
			<dict>
				<key>width</key>
				<integer>537</integer>
				<key>height</key>
				<integer>208</integer>
				<key>originalWidth</key>
				<integer>602</integer>
				<key>originalHeight</key>
				<integer>209</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>21.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>prize_aftergamenew.png</key>
			<dict>
				<key>width</key>
				<integer>537</integer>
				<key>height</key>
				<integer>204</integer>
				<key>originalWidth</key>
				<integer>602</integer>
				<key>originalHeight</key>
				<integer>209</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>210</integer>
				<key>offsetX</key>
				<real>21.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>prize_end_play.png</key>
			<dict>
				<key>width</key>
				<integer>537</integer>
				<key>height</key>
				<integer>204</integer>
				<key>originalWidth</key>
				<integer>602</integer>
				<key>originalHeight</key>
				<integer>209</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>416</integer>
				<key>offsetX</key>
				<real>21.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>prize_main_watchBtn.png</key>
			<dict>
				<key>width</key>
				<integer>537</integer>
				<key>height</key>
				<integer>204</integer>
				<key>originalWidth</key>
				<integer>602</integer>
				<key>originalHeight</key>
				<integer>209</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>622</integer>
				<key>offsetX</key>
				<real>21.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>common_paper2.png</key>
			<dict>
				<key>width</key>
				<integer>280</integer>
				<key>height</key>
				<integer>227</integer>
				<key>originalWidth</key>
				<integer>283</integer>
				<key>originalHeight</key>
				<integer>242</integer>
				<key>x</key>
				<integer>539</integer>
				<key>y</key>
				<integer>622</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>prize_icon_out.png</key>
			<dict>
				<key>width</key>
				<integer>85</integer>
				<key>height</key>
				<integer>85</integer>
				<key>originalWidth</key>
				<integer>85</integer>
				<key>originalHeight</key>
				<integer>85</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>851</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>chess_prizeMenuScene_new3.png</string>
			<key>realTextureFileName</key>
			<string>chess_prizeMenuScene_new3.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>