<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>common_back.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>78</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>common_backP.png</key>
			<dict>
				<key>width</key>
				<integer>85</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>85</integer>
				<key>originalHeight</key>
				<integer>86</integer>
				<key>x</key>
				<integer>80</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Common_frame_bottom.png</key>
			<dict>
				<key>width</key>
				<integer>640</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>46</integer>
				<key>x</key>
				<integer>167</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Common_frame_mid.png</key>
			<dict>
				<key>width</key>
				<integer>640</integer>
				<key>height</key>
				<integer>470</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>470</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>88</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Common_frame_top.png</key>
			<dict>
				<key>width</key>
				<integer>640</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>560</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>frame_number.png</key>
			<dict>
				<key>width</key>
				<integer>254</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>254</integer>
				<key>originalHeight</key>
				<integer>35</integer>
				<key>x</key>
				<integer>642</integer>
				<key>y</key>
				<integer>560</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>mail_image_blank.png</key>
			<dict>
				<key>width</key>
				<integer>296</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>296</integer>
				<key>originalHeight</key>
				<integer>145</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>637</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>mail_title_new.png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>86</integer>
				<key>originalHeight</key>
				<integer>36</integer>
				<key>x</key>
				<integer>298</integer>
				<key>y</key>
				<integer>637</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shuzi.png</key>
			<dict>
				<key>width</key>
				<integer>520</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>520</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>386</integer>
				<key>y</key>
				<integer>637</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>tab_normal.png</key>
			<dict>
				<key>width</key>
				<integer>241</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>241</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>784</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>tab_press.png</key>
			<dict>
				<key>width</key>
				<integer>241</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>241</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>243</integer>
				<key>y</key>
				<integer>784</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>chess_mail_RankScene_new0.png</string>
			<key>realTextureFileName</key>
			<string>chess_mail_RankScene_new0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>