<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50di.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,168},{41,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,18}}</string>
                <key>sourceSize</key>
                <string>{41,18}</string>
            </dict>
            <key>baoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,270},{102,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,54}}</string>
                <key>sourceSize</key>
                <string>{102,54}</string>
            </dict>
            <key>baoming_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,573},{112,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,59}}</string>
                <key>sourceSize</key>
                <string>{112,59}</string>
            </dict>
            <key>button_QQF.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,781},{193,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,76}}</string>
                <key>sourceSize</key>
                <string>{193,76}</string>
            </dict>
            <key>button_QQFP.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,589},{213,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,84}}</string>
                <key>sourceSize</key>
                <string>{213,84}</string>
            </dict>
            <key>button_QQS.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,211},{193,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,76}}</string>
                <key>sourceSize</key>
                <string>{193,76}</string>
            </dict>
            <key>button_QQSP.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,503},{213,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,84}}</string>
                <key>sourceSize</key>
                <string>{213,84}</string>
            </dict>
            <key>cansai.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,270},{102,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,54}}</string>
                <key>sourceSize</key>
                <string>{102,54}</string>
            </dict>
            <key>cansai_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,675},{112,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,59}}</string>
                <key>sourceSize</key>
                <string>{112,59}</string>
            </dict>
            <key>di.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,117},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>dibuzhezhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,796},{204,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,169}}</string>
                <key>sourceSize</key>
                <string>{204,169}</string>
            </dict>
            <key>diming.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,117},{331,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,70}}</string>
                <key>sourceSize</key>
                <string>{331,70}</string>
            </dict>
            <key>diqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,258},{340,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,68}}</string>
                <key>sourceSize</key>
                <string>{340,68}</string>
            </dict>
            <key>dise.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,258},{180,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,34}}</string>
                <key>sourceSize</key>
                <string>{180,34}</string>
            </dict>
            <key>guanjun.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,399},{197,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,69}}</string>
                <key>sourceSize</key>
                <string>{197,69}</string>
            </dict>
            <key>hongbu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,503},{496,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,262}}</string>
                <key>sourceSize</key>
                <string>{496,262}</string>
            </dict>
            <key>icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,727},{66,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,65}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
            <key>ladder_title_rank_2015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{81,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,55}}</string>
                <key>sourceSize</key>
                <string>{81,55}</string>
            </dict>
            <key>lingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,796},{221,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,86}}</string>
                <key>sourceSize</key>
                <string>{221,86}</string>
            </dict>
            <key>lingquanxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,425},{243,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,95}}</string>
                <key>sourceSize</key>
                <string>{243,95}</string>
            </dict>
            <key>mail_feeback.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,270},{102,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,54}}</string>
                <key>sourceSize</key>
                <string>{102,54}</string>
            </dict>
            <key>mail_feeback_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,564},{112,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,59}}</string>
                <key>sourceSize</key>
                <string>{112,59}</string>
            </dict>
            <key>mail_fri_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,714},{147,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,50}}</string>
                <key>sourceSize</key>
                <string>{147,50}</string>
            </dict>
            <key>mail_fri_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,881},{147,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,50}}</string>
                <key>sourceSize</key>
                <string>{147,50}</string>
            </dict>
            <key>mail_item_guan.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,625},{95,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,87}}</string>
                <key>sourceSize</key>
                <string>{95,87}</string>
            </dict>
            <key>mail_item_sai.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,406},{95,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,87}}</string>
                <key>sourceSize</key>
                <string>{95,87}</string>
            </dict>
            <key>mail_list_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{582,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,101}}</string>
                <key>sourceSize</key>
                <string>{582,101}</string>
            </dict>
            <key>mail_look.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,270},{102,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,54}}</string>
                <key>sourceSize</key>
                <string>{102,54}</string>
            </dict>
            <key>mail_look_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,503},{112,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,59}}</string>
                <key>sourceSize</key>
                <string>{112,59}</string>
            </dict>
            <key>mail_mask_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{552,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,50}}</string>
                <key>sourceSize</key>
                <string>{552,50}</string>
            </dict>
            <key>mail_sys_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,634},{147,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,50}}</string>
                <key>sourceSize</key>
                <string>{147,50}</string>
            </dict>
            <key>mail_sys_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,675},{147,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,50}}</string>
                <key>sourceSize</key>
                <string>{147,50}</string>
            </dict>
            <key>mail_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,440},{187,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,29}}</string>
                <key>sourceSize</key>
                <string>{187,29}</string>
            </dict>
            <key>mail_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,211},{354,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,45}}</string>
                <key>sourceSize</key>
                <string>{354,45}</string>
            </dict>
            <key>no_mail.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,189},{427,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{427,20}}</string>
                <key>sourceSize</key>
                <string>{427,20}</string>
            </dict>
            <key>pengyouquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,933},{153,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,60}}</string>
                <key>sourceSize</key>
                <string>{153,60}</string>
            </dict>
            <key>pengyouquananxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,936},{168,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,66}}</string>
                <key>sourceSize</key>
                <string>{168,66}</string>
            </dict>
            <key>popdialog_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,610},{204,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,169}}</string>
                <key>sourceSize</key>
                <string>{204,169}</string>
            </dict>
            <key>rect_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,117},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>red_mail_tab.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,168},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>replay_delete.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,727},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>replay_delete_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,634},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>replay_edit.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,440},{143,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,61}}</string>
                <key>sourceSize</key>
                <string>{143,61}</string>
            </dict>
            <key>replay_edit_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{143,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,61}}</string>
                <key>sourceSize</key>
                <string>{143,61}</string>
            </dict>
            <key>replay_name_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,2},{185,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,34}}</string>
                <key>sourceSize</key>
                <string>{185,34}</string>
            </dict>
            <key>share_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{598,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{598,111}}</string>
                <key>sourceSize</key>
                <string>{598,111}</string>
            </dict>
            <key>tankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{381,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,113}}</string>
                <key>sourceSize</key>
                <string>{381,113}</string>
            </dict>
            <key>tga_title_fat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{477,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,110}}</string>
                <key>sourceSize</key>
                <string>{477,110}</string>
            </dict>
            <key>tijiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,796},{221,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,86}}</string>
                <key>sourceSize</key>
                <string>{221,86}</string>
            </dict>
            <key>tijiaoanxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,328},{243,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,95}}</string>
                <key>sourceSize</key>
                <string>{243,95}</string>
            </dict>
            <key>tuoxiangquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,326},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>weixinhaoyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,781},{153,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,60}}</string>
                <key>sourceSize</key>
                <string>{153,60}</string>
            </dict>
            <key>weixinhaoyouanxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,711},{168,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,66}}</string>
                <key>sourceSize</key>
                <string>{168,66}</string>
            </dict>
            <key>xuanyao.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,522},{221,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,86}}</string>
                <key>sourceSize</key>
                <string>{221,86}</string>
            </dict>
            <key>xuanyaoanxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,328},{243,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,95}}</string>
                <key>sourceSize</key>
                <string>{243,95}</string>
            </dict>
            <key>yajun.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,598},{196,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,69}}</string>
                <key>sourceSize</key>
                <string>{196,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chess_mail_scene.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f931bd68bb4bc291a3ba25a719d01fa:1/1$</string>
            <key>textureFileName</key>
            <string>chess_mail_scene.png</string>
        </dict>
    </dict>
</plist>
