<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BC_bing.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,71},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,67}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
            <key>BC_jiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,392},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,67}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
            <key>BC_ju.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,323},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,67}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
            <key>BC_ma.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,254},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,67}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
            <key>BC_pao.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,67}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
            <key>BC_shi_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,394},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,67}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
            <key>BC_shi_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,394},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,67}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
            <key>BC_shuai.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,425},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,67}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
            <key>BC_xiang_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,425},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,67}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
            <key>BC_xiang_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,426},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,67}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
            <key>BC_zu.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,312},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,67}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
            <key>M_read.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,475},{126,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,32}}</string>
                <key>sourceSize</key>
                <string>{126,32}</string>
            </dict>
            <key>bianzhao_dapu.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,128},{124,51}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{124,51}}</string>
                <key>sourceSize</key>
                <string>{130,57}</string>
            </dict>
            <key>btn_back_dapu.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,394},{77,79}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{77,79}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>btn_tips_dapu.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{56,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,57}}</string>
                <key>sourceSize</key>
                <string>{56,57}</string>
            </dict>
            <key>button_qipu_done.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,284},{139,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,51}}</string>
                <key>sourceSize</key>
                <string>{139,51}</string>
            </dict>
            <key>button_qipu_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,143},{139,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,51}}</string>
                <key>sourceSize</key>
                <string>{139,51}</string>
            </dict>
            <key>button_qipu_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{139,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,51}}</string>
                <key>sourceSize</key>
                <string>{139,51}</string>
            </dict>
            <key>button_qipu_rem.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,268},{124,51}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{124,51}}</string>
                <key>sourceSize</key>
                <string>{130,57}</string>
            </dict>
            <key>common_push_qipu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{77,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,79}}</string>
                <key>sourceSize</key>
                <string>{77,79}</string>
            </dict>
            <key>fupan_share_dapu.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,2},{140,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,52}}</string>
                <key>sourceSize</key>
                <string>{140,52}</string>
            </dict>
            <key>fupan_share_sel_dapu.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,2},{153,58}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{153,58}}</string>
                <key>sourceSize</key>
                <string>{161,60}</string>
            </dict>
            <key>qipan_tipsP_dapu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{416,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,40}}</string>
                <key>sourceSize</key>
                <string>{416,40}</string>
            </dict>
            <key>qipan_tips_dapu.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{390,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,37}}</string>
                <key>sourceSize</key>
                <string>{390,37}</string>
            </dict>
            <key>red.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,467},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>resultN_button_co.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,284},{139,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,51}}</string>
                <key>sourceSize</key>
                <string>{139,51}</string>
            </dict>
            <key>resultN_button_co01.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,2},{138,52}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{138,52}}</string>
                <key>sourceSize</key>
                <string>{142,54}</string>
            </dict>
            <key>resultN_button_read.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,143},{139,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,51}}</string>
                <key>sourceSize</key>
                <string>{139,51}</string>
            </dict>
            <key>shangbu1_dapu.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,143},{139,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{139,52}}</string>
                <key>sourceSize</key>
                <string>{141,52}</string>
            </dict>
            <key>shangbu1_dapu_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,2},{124,51}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{124,51}}</string>
                <key>sourceSize</key>
                <string>{130,57}</string>
            </dict>
            <key>shangbu2_dapu.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,157},{153,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,57}}</string>
                <key>sourceSize</key>
                <string>{153,57}</string>
            </dict>
            <key>shangbu3_dapu.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,2},{139,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{139,52}}</string>
                <key>sourceSize</key>
                <string>{141,52}</string>
            </dict>
            <key>shangbu3_dapu_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,142},{124,51}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{124,51}}</string>
                <key>sourceSize</key>
                <string>{130,57}</string>
            </dict>
            <key>shouc1_dapu.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,2},{139,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{139,51}}</string>
                <key>sourceSize</key>
                <string>{141,53}</string>
            </dict>
            <key>shouc2_dapu.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,312},{153,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{153,56}}</string>
                <key>sourceSize</key>
                <string>{155,58}</string>
            </dict>
            <key>shouc5_dapu.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,284},{139,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{139,51}}</string>
                <key>sourceSize</key>
                <string>{141,53}</string>
            </dict>
            <key>shouc6_dapu.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,2},{153,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{153,56}}</string>
                <key>sourceSize</key>
                <string>{155,58}</string>
            </dict>
            <key>xiabu1_dapu.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,285},{139,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{139,52}}</string>
                <key>sourceSize</key>
                <string>{141,52}</string>
            </dict>
            <key>xiabu1_dapu_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,268},{124,51}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{124,51}}</string>
                <key>sourceSize</key>
                <string>{130,57}</string>
            </dict>
            <key>xiabu2_dapu.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,157},{153,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,57}}</string>
                <key>sourceSize</key>
                <string>{153,57}</string>
            </dict>
            <key>xiabu3_dapu.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,144},{139,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{139,52}}</string>
                <key>sourceSize</key>
                <string>{141,52}</string>
            </dict>
            <key>xiabu3_dapu_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,142},{124,51}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{124,51}}</string>
                <key>sourceSize</key>
                <string>{130,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Dapu.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:646a6694dd36bd6152f6adef984c0123:1/1$</string>
            <key>textureFileName</key>
            <string>Dapu.png</string>
        </dict>
    </dict>
</plist>
