<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{224,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,238}}</string>
                <key>sourceSize</key>
                <string>{224,238}</string>
            </dict>
            <key>jiang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{171,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,182}}</string>
                <key>sourceSize</key>
                <string>{171,182}</string>
            </dict>
            <key>jiang03.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,242},{130,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,138}}</string>
                <key>sourceSize</key>
                <string>{130,138}</string>
            </dict>
            <key>jiang04.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,382},{97,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,103}}</string>
                <key>sourceSize</key>
                <string>{97,103}</string>
            </dict>
            <key>jiang05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{70,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,75}}</string>
                <key>sourceSize</key>
                <string>{70,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jiang.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:934c865dce2be477d729fd8dac8f8bb6:1/1$</string>
            <key>textureFileName</key>
            <string>jiang.png</string>
        </dict>
    </dict>
</plist>
