<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jue01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,202}}</string>
                <key>sourceSize</key>
                <string>{198,202}</string>
            </dict>
            <key>jue02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{152,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,154}}</string>
                <key>sourceSize</key>
                <string>{152,154}</string>
            </dict>
            <key>jue03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{115,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,117}}</string>
                <key>sourceSize</key>
                <string>{115,117}</string>
            </dict>
            <key>jue04.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,202},{87,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,88}}</string>
                <key>sourceSize</key>
                <string>{87,88}</string>
            </dict>
            <key>jue05.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,291},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jue.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b4b2cc9e04261172be265e1850861ec:1/1$</string>
            <key>textureFileName</key>
            <string>jue.png</string>
        </dict>
    </dict>
</plist>
