<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>path01_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,376},{97,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,126}}</string>
                <key>sourceSize</key>
                <string>{97,126}</string>
            </dict>
            <key>path02_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,453},{130,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,121}}</string>
                <key>sourceSize</key>
                <string>{130,121}</string>
            </dict>
            <key>path03_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,55},{286,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,259}}</string>
                <key>sourceSize</key>
                <string>{286,259}</string>
            </dict>
            <key>path04_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,273},{178,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{178,149}}</string>
                <key>sourceSize</key>
                <string>{180,151}</string>
            </dict>
            <key>path05_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,191},{260,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,87}}</string>
                <key>sourceSize</key>
                <string>{260,87}</string>
            </dict>
            <key>path06_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{218,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,131}}</string>
                <key>sourceSize</key>
                <string>{218,131}</string>
            </dict>
            <key>path07_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,2},{297,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,102}}</string>
                <key>sourceSize</key>
                <string>{297,102}</string>
            </dict>
            <key>path08_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{175,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,165}}</string>
                <key>sourceSize</key>
                <string>{175,165}</string>
            </dict>
            <key>path09_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{170,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,213}}</string>
                <key>sourceSize</key>
                <string>{170,213}</string>
            </dict>
            <key>path10_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,106},{284,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{284,83}}</string>
                <key>sourceSize</key>
                <string>{284,85}</string>
            </dict>
            <key>path11_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{372,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,121}}</string>
                <key>sourceSize</key>
                <string>{372,121}</string>
            </dict>
            <key>path12_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{203,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,128}}</string>
                <key>sourceSize</key>
                <string>{203,128}</string>
            </dict>
            <key>path13_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,280},{255,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{255,138}}</string>
                <key>sourceSize</key>
                <string>{257,138}</string>
            </dict>
            <key>path14_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,106},{268,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,66}}</string>
                <key>sourceSize</key>
                <string>{268,66}</string>
            </dict>
            <key>path15_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,316},{200,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,144}}</string>
                <key>sourceSize</key>
                <string>{200,144}</string>
            </dict>
            <key>path16_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,125},{150,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,146}}</string>
                <key>sourceSize</key>
                <string>{150,146}</string>
            </dict>
            <key>path17_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,727},{163,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,103}}</string>
                <key>sourceSize</key>
                <string>{163,103}</string>
            </dict>
            <key>path18_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{323,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,51}}</string>
                <key>sourceSize</key>
                <string>{323,51}</string>
            </dict>
            <key>path19_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,316},{44,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,105}}</string>
                <key>sourceSize</key>
                <string>{46,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>match_path.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:884aec6b7ac02e2544845acf6be77d6d$</string>
            <key>textureFileName</key>
            <string>match_path.png</string>
        </dict>
    </dict>
</plist>
