<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>moji10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{243,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,177}}</string>
                <key>sourceSize</key>
                <string>{243,177}</string>
            </dict>
            <key>moji_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{84,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,57}}</string>
                <key>sourceSize</key>
                <string>{84,57}</string>
            </dict>
            <key>moji_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,141},{129,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,79}}</string>
                <key>sourceSize</key>
                <string>{129,79}</string>
            </dict>
            <key>moji_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,273},{151,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,99}}</string>
                <key>sourceSize</key>
                <string>{151,99}</string>
            </dict>
            <key>moji_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,273},{159,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,97}}</string>
                <key>sourceSize</key>
                <string>{159,97}</string>
            </dict>
            <key>moji_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,181},{156,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,101}}</string>
                <key>sourceSize</key>
                <string>{156,101}</string>
            </dict>
            <key>moji_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,339},{167,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,118}}</string>
                <key>sourceSize</key>
                <string>{167,118}</string>
            </dict>
            <key>moji_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,273},{168,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,126}}</string>
                <key>sourceSize</key>
                <string>{168,126}</string>
            </dict>
            <key>moji_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,141},{175,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,130}}</string>
                <key>sourceSize</key>
                <string>{175,130}</string>
            </dict>
            <key>moji_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{185,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,137}}</string>
                <key>sourceSize</key>
                <string>{185,137}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>moji.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef307136cfe60376124619457ac10327:1/1$</string>
            <key>textureFileName</key>
            <string>moji.png</string>
        </dict>
    </dict>
</plist>
