<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,263},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>02.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,215},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>03.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,139},{74,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,29}}</string>
                <key>sourceSize</key>
                <string>{74,29}</string>
            </dict>
            <key>04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{64,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,34}}</string>
                <key>sourceSize</key>
                <string>{64,34}</string>
            </dict>
            <key>05.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,186},{37,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,27}}</string>
                <key>sourceSize</key>
                <string>{37,27}</string>
            </dict>
            <key>06.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,121},{40,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,16}}</string>
                <key>sourceSize</key>
                <string>{40,16}</string>
            </dict>
            <key>07.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,221},{57,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,53}}</string>
                <key>sourceSize</key>
                <string>{57,53}</string>
            </dict>
            <key>08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{124,43}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,43}}</string>
                <key>sourceSize</key>
                <string>{128,43}</string>
            </dict>
            <key>09.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,139},{39,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,45}}</string>
                <key>sourceSize</key>
                <string>{39,45}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,280},{29,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,53}}</string>
                <key>sourceSize</key>
                <string>{29,53}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,207},{59,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,12}}</string>
                <key>sourceSize</key>
                <string>{59,12}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,81},{56,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,25}}</string>
                <key>sourceSize</key>
                <string>{56,25}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{77,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,18}}</string>
                <key>sourceSize</key>
                <string>{77,18}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,81},{98,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,28}}</string>
                <key>sourceSize</key>
                <string>{98,28}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,49},{113,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,30}}</string>
                <key>sourceSize</key>
                <string>{113,30}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,72}}</string>
                <key>sourceSize</key>
                <string>{128,72}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,151},{66,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,23}}</string>
                <key>sourceSize</key>
                <string>{66,23}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,276},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{118,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,45}}</string>
                <key>sourceSize</key>
                <string>{118,45}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,111},{95,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,38}}</string>
                <key>sourceSize</key>
                <string>{95,38}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{64,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,47}}</string>
                <key>sourceSize</key>
                <string>{64,47}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,264},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,215},{63,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,29}}</string>
                <key>sourceSize</key>
                <string>{63,29}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,168},{73,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,13}}</string>
                <key>sourceSize</key>
                <string>{73,13}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,183},{70,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,22}}</string>
                <key>sourceSize</key>
                <string>{70,22}</string>
            </dict>
            <key>26.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,151},{73,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,15}}</string>
                <key>sourceSize</key>
                <string>{73,15}</string>
            </dict>
            <key>27.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,207},{13,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,55}}</string>
                <key>sourceSize</key>
                <string>{13,55}</string>
            </dict>
            <key>28.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,196},{60,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,11}}</string>
                <key>sourceSize</key>
                <string>{60,11}</string>
            </dict>
            <key>29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{80,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,53}}</string>
                <key>sourceSize</key>
                <string>{80,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>path.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8462e11a2e7bdf9b5a10762ec5c667b:1/1$</string>
            <key>textureFileName</key>
            <string>path.png</string>
        </dict>
    </dict>
</plist>
