<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_dapu.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,79},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{75,75}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>main_frame_bottom_4q.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,194},{626,46}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{626,46}}</string>
                <key>sourceSize</key>
                <string>{640,46}</string>
            </dict>
            <key>main_frame_top_4q.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{624,75}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{624,75}}</string>
                <key>sourceSize</key>
                <string>{640,75}</string>
            </dict>
            <key>main_tab_select1_4q.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,2},{236,69}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{236,69}}</string>
                <key>sourceSize</key>
                <string>{242,71}</string>
            </dict>
            <key>main_tab_select2_4q.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,71}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{238,71}}</string>
                <key>sourceSize</key>
                <string>{242,71}</string>
            </dict>
            <key>tab_1_4q.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,98},{94,22}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,24},{94,22}}</string>
                <key>sourceSize</key>
                <string>{240,74}</string>
            </dict>
            <key>tab_2_4q.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{94,22}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,24},{94,22}}</string>
                <key>sourceSize</key>
                <string>{240,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>selectsScene_4q.png</string>
            <key>size</key>
            <string>{1024,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4fc66048ae9bcaa3975e8d123db222f9:1/1$</string>
            <key>textureFileName</key>
            <string>selectsScene_4q.png</string>
        </dict>
    </dict>
</plist>
