<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PU_BG_tell.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,525},{170,161}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{170,161}}</string>
                <key>sourceSize</key>
                <string>{174,165}</string>
            </dict>
            <key>PU_button_changeC.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,292},{217,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,86}}</string>
                <key>sourceSize</key>
                <string>{217,86}</string>
            </dict>
            <key>PU_button_changeCP.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,928},{239,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,94}}</string>
                <key>sourceSize</key>
                <string>{239,94}</string>
            </dict>
            <key>btnMail.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,878},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>btn_fankui.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,439},{155,59}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,59}}</string>
                <key>sourceSize</key>
                <string>{157,59}</string>
            </dict>
            <key>btn_fankuiP.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,684},{142,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{142,54}}</string>
                <key>sourceSize</key>
                <string>{144,56}</string>
            </dict>
            <key>button_changeU.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,688},{188,65}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,65}}</string>
                <key>sourceSize</key>
                <string>{190,65}</string>
            </dict>
            <key>button_join.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,900},{135,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{135,59}}</string>
                <key>sourceSize</key>
                <string>{137,59}</string>
            </dict>
            <key>button_joinP.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,684},{149,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,64}}</string>
                <key>sourceSize</key>
                <string>{149,64}</string>
            </dict>
            <key>button_look.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,961},{135,57}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,57}}</string>
                <key>sourceSize</key>
                <string>{135,59}</string>
            </dict>
            <key>button_lookP.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,559},{149,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,64}}</string>
                <key>sourceSize</key>
                <string>{149,64}</string>
            </dict>
            <key>common_vigor.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,873},{187,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,44}}</string>
                <key>sourceSize</key>
                <string>{187,44}</string>
            </dict>
            <key>duanwang.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,875},{94,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,58}}</string>
                <key>sourceSize</key>
                <string>{94,58}</string>
            </dict>
            <key>dzIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,883},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>getMore.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,187},{290,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,67}}</string>
                <key>sourceSize</key>
                <string>{290,67}</string>
            </dict>
            <key>head_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,932},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>image.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,559},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>main_button1.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,256},{180,183}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{180,183}}</string>
                <key>sourceSize</key>
                <string>{180,185}</string>
            </dict>
            <key>main_button2.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,2},{180,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,183}}</string>
                <key>sourceSize</key>
                <string>{180,183}</string>
            </dict>
            <key>main_button3.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,2},{180,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,183}}</string>
                <key>sourceSize</key>
                <string>{180,183}</string>
            </dict>
            <key>main_button_new_person.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{627,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{627,143}}</string>
                <key>sourceSize</key>
                <string>{627,143}</string>
            </dict>
            <key>main_button_person.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{627,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{627,143}}</string>
                <key>sourceSize</key>
                <string>{627,143}</string>
            </dict>
            <key>main_button_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,961},{66,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,61}}</string>
                <key>sourceSize</key>
                <string>{66,61}</string>
            </dict>
            <key>main_button_sendP.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,187},{73,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,67}}</string>
                <key>sourceSize</key>
                <string>{73,67}</string>
            </dict>
            <key>main_button_sent_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,961},{67,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,61}}</string>
                <key>sourceSize</key>
                <string>{67,61}</string>
            </dict>
            <key>main_button_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,932},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>main_button_settingP.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,828},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>main_flashN.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,688},{185,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{185,40}}</string>
                <key>sourceSize</key>
                <string>{187,40}</string>
            </dict>
            <key>main_flashP.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,960},{57,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{57,64}}</string>
                <key>sourceSize</key>
                <string>{65,78}</string>
            </dict>
            <key>main_frame_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,292},{634,74}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{634,74}}</string>
                <key>sourceSize</key>
                <string>{640,74}</string>
            </dict>
            <key>main_frame_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,292},{638,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{638,80}}</string>
                <key>sourceSize</key>
                <string>{640,80}</string>
            </dict>
            <key>main_headernew.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,861},{96,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,97}}</string>
                <key>sourceSize</key>
                <string>{96,97}</string>
            </dict>
            <key>main_item_head01new.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,292},{579,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{579,102}}</string>
                <key>sourceSize</key>
                <string>{579,102}</string>
            </dict>
            <key>main_newbutton0.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,256},{178,181}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{178,181}}</string>
                <key>sourceSize</key>
                <string>{180,185}</string>
            </dict>
            <key>main_players_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,873},{117,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,25}}</string>
                <key>sourceSize</key>
                <string>{117,25}</string>
            </dict>
            <key>main_tab_select1_new1.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,511},{185,82}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{185,82}}</string>
                <key>sourceSize</key>
                <string>{185,84}</string>
            </dict>
            <key>main_tab_select2_new1.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,441},{183,82}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{183,82}}</string>
                <key>sourceSize</key>
                <string>{183,84}</string>
            </dict>
            <key>main_tab_select3_new1.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,698},{183,82}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{183,82}}</string>
                <key>sourceSize</key>
                <string>{185,84}</string>
            </dict>
            <key>main_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,688},{184,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,40}}</string>
                <key>sourceSize</key>
                <string>{184,40}</string>
            </dict>
            <key>name_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,688},{171,32}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{171,32}}</string>
                <key>sourceSize</key>
                <string>{185,34}</string>
            </dict>
            <key>newmail.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,256},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>no_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,915},{84,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,23}}</string>
                <key>sourceSize</key>
                <string>{84,23}</string>
            </dict>
            <key>num_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,2},{106,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,20}}</string>
                <key>sourceSize</key>
                <string>{106,20}</string>
            </dict>
            <key>page_downPnew.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,625},{153,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,57}}</string>
                <key>sourceSize</key>
                <string>{153,57}</string>
            </dict>
            <key>page_downnew.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,971},{138,51}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,51}}</string>
                <key>sourceSize</key>
                <string>{140,51}</string>
            </dict>
            <key>page_upPnew.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,500},{153,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,57}}</string>
                <key>sourceSize</key>
                <string>{153,57}</string>
            </dict>
            <key>page_upnew.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,684},{138,51}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,51}}</string>
                <key>sourceSize</key>
                <string>{140,51}</string>
            </dict>
            <key>point.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,955},{33,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,14}}</string>
                <key>sourceSize</key>
                <string>{33,14}</string>
            </dict>
            <key>rank_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{638,89}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{638,89}}</string>
                <key>sourceSize</key>
                <string>{638,91}</string>
            </dict>
            <key>rank_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,292},{638,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{638,80}}</string>
                <key>sourceSize</key>
                <string>{640,80}</string>
            </dict>
            <key>tab2_normal_item_bknew.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,292},{579,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{579,102}}</string>
                <key>sourceSize</key>
                <string>{579,102}</string>
            </dict>
            <key>tab_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,915},{95,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,22}}</string>
                <key>sourceSize</key>
                <string>{95,22}</string>
            </dict>
            <key>tab_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,439},{93,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,22}}</string>
                <key>sourceSize</key>
                <string>{93,22}</string>
            </dict>
            <key>tab_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,874},{95,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,22}}</string>
                <key>sourceSize</key>
                <string>{95,22}</string>
            </dict>
            <key>tab_invite_bgnew.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,292},{579,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{579,102}}</string>
                <key>sourceSize</key>
                <string>{579,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>selectsScene.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f0fbc345596d52a7f97bf338ce6a5f6:1/1$</string>
            <key>textureFileName</key>
            <string>selectsScene.png</string>
        </dict>
    </dict>
</plist>
