<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PU_button_begin_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,409},{219,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,86}}</string>
                <key>sourceSize</key>
                <string>{219,86}</string>
            </dict>
            <key>PU_button_begin_newP.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{241,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,94}}</string>
                <key>sourceSize</key>
                <string>{241,94}</string>
            </dict>
            <key>PU_button_next.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,321},{219,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,86}}</string>
                <key>sourceSize</key>
                <string>{219,86}</string>
            </dict>
            <key>PU_button_nextP.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,199},{241,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,94}}</string>
                <key>sourceSize</key>
                <string>{241,94}</string>
            </dict>
            <key>PU_button_redefi.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,295},{219,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,86}}</string>
                <key>sourceSize</key>
                <string>{219,86}</string>
            </dict>
            <key>PU_button_redefiP.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{241,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,94}}</string>
                <key>sourceSize</key>
                <string>{241,94}</string>
            </dict>
            <key>common_push.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,383},{77,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,79}}</string>
                <key>sourceSize</key>
                <string>{77,79}</string>
            </dict>
            <key>common_pushP.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,409},{85,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,87}}</string>
                <key>sourceSize</key>
                <string>{85,87}</string>
            </dict>
            <key>common_push_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,409},{85,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,87}}</string>
                <key>sourceSize</key>
                <string>{85,87}</string>
            </dict>
            <key>head_bg_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,2},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>jiludian.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,2},{30,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,29}}</string>
                <key>sourceSize</key>
                <string>{30,29}</string>
            </dict>
            <key>river_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{373,43}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,2},{373,43}}</string>
                <key>sourceSize</key>
                <string>{473,45}</string>
            </dict>
            <key>tishikuang_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{318,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,80}}</string>
                <key>sourceSize</key>
                <string>{318,80}</string>
            </dict>
            <key>yizhunb.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,94},{184,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,103}}</string>
                <key>sourceSize</key>
                <string>{184,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>singleGameScene.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5746842bd48ed35bb1e4a9043eaf8d82:1/1$</string>
            <key>textureFileName</key>
            <string>singleGameScene.png</string>
        </dict>
    </dict>
</plist>
