<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>C:/Program Files/CocoStudio/EditorDefaultRes/GUI/image.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>title_new.png</key>
			<dict>
				<key>width</key>
				<integer>434</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>434</integer>
				<key>originalHeight</key>
				<integer>55</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>80</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>star_full.png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>84</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>80</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>star_empty.png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>84</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>135</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>share_text_u_lose.png</key>
			<dict>
				<key>width</key>
				<integer>640</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>72</integer>
				<key>x</key>
				<integer>164</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>BE_bg02_1.png</key>
			<dict>
				<key>width</key>
				<integer>640</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>215</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>BE_bg02_2.png</key>
			<dict>
				<key>width</key>
				<integer>640</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>84</integer>
				<key>y</key>
				<integer>135</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>button_close.png</key>
			<dict>
				<key>width</key>
				<integer>193</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>76</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>265</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>button_closeP.png</key>
			<dict>
				<key>width</key>
				<integer>213</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>213</integer>
				<key>originalHeight</key>
				<integer>84</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>341</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Button_collect.png</key>
			<dict>
				<key>width</key>
				<integer>193</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>76</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>425</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Button_collectP.png</key>
			<dict>
				<key>width</key>
				<integer>213</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>213</integer>
				<key>originalHeight</key>
				<integer>84</integer>
				<key>x</key>
				<integer>213</integer>
				<key>y</key>
				<integer>265</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Button_collectG.png</key>
			<dict>
				<key>width</key>
				<integer>193</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>76</integer>
				<key>x</key>
				<integer>213</integer>
				<key>y</key>
				<integer>349</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>button_show.png</key>
			<dict>
				<key>width</key>
				<integer>193</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>76</integer>
				<key>x</key>
				<integer>193</integer>
				<key>y</key>
				<integer>425</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>button_showP.png</key>
			<dict>
				<key>width</key>
				<integer>213</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>213</integer>
				<key>originalHeight</key>
				<integer>84</integer>
				<key>x</key>
				<integer>426</integer>
				<key>y</key>
				<integer>265</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>button_showG.png</key>
			<dict>
				<key>width</key>
				<integer>193</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>76</integer>
				<key>x</key>
				<integer>406</integer>
				<key>y</key>
				<integer>349</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>button_Rechallenge.png</key>
			<dict>
				<key>width</key>
				<integer>227</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>227</integer>
				<key>originalHeight</key>
				<integer>86</integer>
				<key>x</key>
				<integer>386</integer>
				<key>y</key>
				<integer>425</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>button_RechallengeB.png</key>
			<dict>
				<key>width</key>
				<integer>241</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>241</integer>
				<key>originalHeight</key>
				<integer>94</integer>
				<key>x</key>
				<integer>640</integer>
				<key>y</key>
				<integer>185</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>failedBg.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>804</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bf_pass.png</key>
			<dict>
				<key>width</key>
				<integer>367</integer>
				<key>height</key>
				<integer>205</integer>
				<key>originalWidth</key>
				<integer>367</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>639</integer>
				<key>y</key>
				<integer>279</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>common_back.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>78</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>904</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>common_backP.png</key>
			<dict>
				<key>width</key>
				<integer>85</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>85</integer>
				<key>originalHeight</key>
				<integer>86</integer>
				<key>x</key>
				<integer>904</integer>
				<key>y</key>
				<integer>79</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>button_QQF.png</key>
			<dict>
				<key>width</key>
				<integer>193</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>76</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>501</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>button_QQS.png</key>
			<dict>
				<key>width</key>
				<integer>193</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>76</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>577</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>share_item_bg.png</key>
			<dict>
				<key>width</key>
				<integer>598</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>598</integer>
				<key>originalHeight</key>
				<integer>111</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>653</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>gameup.png</key>
			<dict>
				<key>width</key>
				<integer>548</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>548</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>764</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>talkTa.png</key>
			<dict>
				<key>width</key>
				<integer>193</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>76</integer>
				<key>x</key>
				<integer>193</integer>
				<key>y</key>
				<integer>501</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>talkTaP.png</key>
			<dict>
				<key>width</key>
				<integer>213</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>213</integer>
				<key>originalHeight</key>
				<integer>84</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>864</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>talkTaG.png</key>
			<dict>
				<key>width</key>
				<integer>193</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>76</integer>
				<key>x</key>
				<integer>193</integer>
				<key>y</key>
				<integer>577</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>C:/Program Files/CocoStudio/EditorDefaultRes/GUI/button.png</key>
			<dict>
				<key>width</key>
				<integer>103</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>103</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>434</integer>
				<key>y</key>
				<integer>72</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>singlegameover0.png</string>
			<key>realTextureFileName</key>
			<string>singlegameover0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>